<% scope ||= nil
   footer_extension ||= nil
   url_options ||= params_for(action: form_action)
   xhr = request.xhr? if xhr.nil?
   if active_scaffold_config.actions.include? form_action
     action_config = active_scaffold_config.send(form_action)
     multipart ||= action_config.multipart? unless local_assigns.key? :multipart
     columns ||= action_config.columns unless local_assigns.key? :columns
     persistent ||= action_config.persistent unless local_assigns.key? :persistent
     field_descriptions ||= action_config.field_descriptions
     if !local_assigns.key?(:floating_footer) && action_config.respond_to?(:floating_footer)
       floating_footer = action_config.floating_footer
     end
     if !local_assigns.key?(:add_locking_column) && action_config.respond_to?(:add_locking_column)
       add_locking_column = action_config.add_locking_column
     end
   else
     multipart ||= false
     columns ||= nil
     persistent ||= false
     field_descriptions ||= :show
   end
   floating_footer ||= false
   method ||= :post
   cancel_link = true if cancel_link.nil?
   submit_text ||= form_action
   apply_text ||= :"#{form_action}_apply"
   cancel_text ||= :cancel
   cancel_url ||= main_path_to_return
   body_partial ||= 'form'
   form_id = element_form_id(action: form_action, id: @record&.id)

   if cancel_link
     cancel_options = {class: 'as_cancel'}
     cancel_options[:remote] = true if xhr # cancel link doesn't have to care about multipart forms
     cancel_options = cancel_options.smart_merge cancel_attrs if local_assigns[:cancel_attrs]
   end
%>
<%=
options = as_element_attributes(
  :form,
  id: form_id,
  multipart: multipart,
  class: "as_form #{form_action} #{'floating-footer' if floating_footer} #{"descriptions-#{field_descriptions}" if field_descriptions != :show}",
  method: method,
  data: {loading: defined?(loading) ? loading : true}
)

if xhr && multipart # file_uploads
  form_remote_upload_tag url_options.merge(iframe: true), options
else
  options[:remote] = true if xhr && !multipart
  form_tag url_options, options
end
-%>
  <%= hidden_field :record, @record.class.locking_column if add_locking_column && @record.persisted? && @record.locking_enabled? %>
  <%= as_element :form_title, headline -%>

  <%= as_element :form_messages_container, id: element_messages_id(action: form_action), class: 'messages-container' do %>
    <% unless xhr %>
      <%= server_error_msg class: 'as-msg', style: 'display:none;' do %>
        <%= as_(:internal_error).html_safe %>
        <%= as_element :message_close, as_(:close), class: 'msg-close', title: as_(:close) %>
      <% end %>
    <% end %>
    <%= render 'form_messages' %>
  <% end %>

  <%= render body_partial, columns: columns, form_action: form_action, scope: scope %>

  <%= as_element :form_footer, class: 'form-footer' do %>
    <%= submit_tag as_(submit_text), as_element_attributes(:form_submit) if !persistent || persistent == :optional %>
    <%= submit_tag as_(apply_text), as_element_attributes(:form_apply, name: 'dont_close') if persistent %>
    <%= link_to as_(cancel_text), cancel_url, as_element_attributes(:form_cancel, **cancel_options) if cancel_link %>
    <%= loading_indicator_tag action: form_action, id: @record&.id %>
    <%= render footer_extension, form_action: form_action if footer_extension %>
  <% end %>

</form>
