<% url_options = params_for(:action => :index, :search => nil) -%>
<%=
options = {:id => element_form_id(:action => 'search'),
           :class => "as_form search",
           :remote => true,
           :method => :get,
           'data-loading' => true}
form_tag url_options, options %>
  <ol class="form">
   <% visibles, hiddens = visibles_and_hiddens(active_scaffold_config.field_search) %>
    <% visibles.each do |column| -%>
      <%= render :partial => 'search_attribute', :locals => {:column => column} %>
    <% end -%>
    <% unless hiddens.empty?  -%>
      <li class="sub-section">
      <h5><%= as_(:optional_attributes) %></h5>
      <ol id ="<%= sub_section_id(:sub_section => 'further_options') %>" class="form" style="display:none;">
      <% hiddens.each do |column| -%>
        <%= render :partial => 'search_attribute', :locals => {:column => column} %>
      <% end -%>
      </ol>
      <%= link_to_visibility_toggle(sub_section_id(:sub_section => 'further_options'), {:default_visible => false}) %>
      </li>
  <% end -%>
  </ol>
  <p class="form-footer">
    <%= submit_tag as_(:search), :class => "submit" %>
    <%= link_to as_(:reset), url_for(url_options.merge(:search => '')), :class => 'as_cancel', :remote => true, :data => {:refresh => true} %>
    <%= loading_indicator_tag(:action => :search) %>
  </p>
</form>
<%= javascript_tag("ActiveScaffold.focus_first_element_of_form('#{element_form_id(:action => 'search')}');") %>
