<% if active_scaffold_config.list.messages_above_header %>
<table>
  <tbody>
    <tr>
      <td class="messages-container">
        <%= render 'list_messages_content' %>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
<table <%= as_element_attributes :list_table, class: "list-table #{'local-sorting' if local_sorting?}" %>>
  <thead>
    <tr>
      <% columns = list_columns %>
      <%= render 'list_column_headings', columns: columns %>
    </tr>
  </thead>
  <%= render 'list_messages', columns: columns %>
  <tbody class="records" id="<%= active_scaffold_tbody_id %>" data-refresh-record="<%= url_for(params_for(action: :index, id: '--ID--')) %>">
    <% if !@page.empty? -%>
      <%= render partial: list_record_view, collection: @page.items, locals: {hidden: false, columns: columns, action_links: active_scaffold_config.action_links.member} %>
    <% end -%>
  </tbody>
  <% if columns.any?(&:calculation?) -%>
  <tfoot>  
    <%= render 'list_calculations', columns: columns %>
  </tfoot>
  <% end -%>
</table>
<%= render 'list_pagination' %>
