<% column_count ||= columns.length + (grouped_search? ? 0 : 1) -%>
<tbody class="messages">
  <tr class="record even-record">
    <td colspan="<%= column_count -%>" class="messages-container">
      <%= render 'list_messages_content' unless active_scaffold_config.list.messages_above_header %>
      <%= content_tag :div, class: 'filtered-message',
                      style: ('display:none;' unless @filtered),
                      data: ({search: search_params || ''} if active_scaffold_config.store_user_settings && respond_to?(:search_params)) do %>
        <div><%= @filtered.is_a?(Array) ? render(:partial => 'human_conditions', :locals => {:columns => @filtered}) : as_(active_scaffold_config.list.filtered_message) %></div>
        <% if active_scaffold_config.list.show_search_reset && @filtered -%>
        <div class="reset">
          <%= loading_indicator_tag(:action => :record, :id => nil) %>
          <%= render_action_link(active_scaffold_config.list.reset_link) %>
        </div>
        <% end -%>
      <% end %>
      <p id="<%= empty_message_id %>" class="empty-message" <%= ' style="display:none;" '.html_safe unless @page.empty? %>>
        <%= as_(active_scaffold_config.list.no_entries_message) %>
      </p>
    </td>
  </tr>
</tbody>    
