<% if active_scaffold_config.list.messages_above_header %>
<table>
  <tbody>
    <tr>
      <td class="messages-container">
        <p class="error-message message server-error" style="display:none;">
          <%= as_(:internal_error).html_safe %>
          <a href="#" class="close" title="<%= as_(:close).html_safe %>"><%= as_(:close).html_safe %></a>
        </p>
        <div id="<%= active_scaffold_messages_id -%>" class="action-messages">
          <%= render :partial => 'messages' %>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<% end %>
<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <% columns = list_columns %>
      <%= render :partial => 'list_column_headings', :locals => {:columns => columns} %>
    </tr>
  </thead>
  <%= render :partial => 'list_messages', :locals => {:columns => columns} %>
  <tbody class="records" id="<%= active_scaffold_tbody_id %>">
    <% if !@records.empty? -%>
      <%= render :partial => 'list_record', :collection => @page.items, :locals => {:hidden => false, :columns => columns, :action_links => active_scaffold_config.action_links.member, :data_refresh => url_for(params_for(:action => :row, :id => '--ID--', :_method => :get))} %>
    <% end -%>
    <% if columns.any? {|c| c.calculation?} -%>
      <%= render :partial => 'list_calculations', :locals => {:columns => columns} %>
    <% end -%>
  </tbody>
</table>
<%= render :partial => 'list_pagination' %>
