<%= server_error_msg class: 'as-msg', style: 'display:none;' do %>
  <%= as_(:internal_error).html_safe %>
  <span class="error-500"><%= as_(:error_500).html_safe %></span>
  <%= as_element :message_close, as_(:close), class: 'msg-close', title: as_(:close) %>
<% end %>
<%= as_element :list_action_messages, id: active_scaffold_messages_id, class: 'action-messages' do %>
  <%= render 'messages' %>
<% end %>
