<% record ||= nil
   start_level_0_tag ||= ''
   end_level_0_tag ||= ''%>
<% action_links.traverse(controller, traverse_options) do |parent, link, options| -%>
  <% if (options[:node] == :finished_traversing) -%>
    <%= "</ul>#{(options[:level] == 0 ? "</div>#{end_level_0_tag}": '</li>')}".html_safe %>

  <% elsif (options[:node] == :start_traversing) -%>
    <% html_classes = hover_via_click? ? 'hover_click ' : '' %>
    <% if options[:level] == 0 %>
      <% html_classes << 'action_group' %>
      <%= "#{start_level_0_tag}<div class=\"#{html_classes}\" #{"onclick=\"\"" if hover_via_click?}><div class=\"#{parent.name.to_s.downcase}\">#{as_(parent.name)}</div><ul>".html_safe %>
    <% else %>
      <% html_classes << 'top' if options[:first_action] %>
      <%= "<li#{" class=\"#{html_classes}\"" unless html_classes.empty?}#{" onclick=\"\"" if hover_via_click?}><div class=\"#{parent.name.to_s.downcase}\">#{as_(parent.name)}</div><ul>".html_safe %>
    <% end %>

  <% else -%>
    <% if options[:level] == 0 %>
      <%= "#{start_level_0_tag}#{render_group_action_link(link, url_options, options, record)}#{end_level_0_tag}".html_safe %>
    <% else %>
      <li<%= ' class="top"'.html_safe %>><%= render_group_action_link(link, url_options, options, record) %></li>
    <% end %>
  <% end -%>
<% end -%>