<% url_options = params_for(:action => :create) -%>
<% xhr ||= request.xhr? -%>
<%=
options = {:onsubmit => onsubmit,
           :id => element_form_id(:action => :create),
           :multipart => active_scaffold_config.create.multipart?,
           :class => 'as_form create'}
if active_scaffold_config.create.multipart? # file_uploads
  form_remote_upload_tag url_options.merge({:iframe => true}), options
else
  options[:remote] = true if xhr
  form_tag url_options, options
end -%>

  <h4><%= active_scaffold_config.create.label -%></h4>

  <% if request.xhr? -%>
    <div id="<%= element_messages_id(:action => :create) %>" class="messages-container"><%= error_messages_for :record, :object_name => @record.class.human_name.downcase %></div>
  <% else -%>
    <%= render :partial => 'form_messages' %>
  <% end -%>

  <%= render :partial => 'form', :locals => { :columns => active_scaffold_config.create.columns } %>

  <p class="form-footer">
    <%= submit_tag as_(:create), :class => "submit" %>
    <%= loading_indicator_tag(:action => :create, :id => params[:id]) %>
  </p>
</form>