<% action_links ||= active_scaffold_config.action_links.member %>
<td class="actions"><table cellpadding="0" cellspacing="0">
  <tr>
    <td class="indicator-container">
      <%= loading_indicator_tag(:action => :record, :id => record.id) %>
    </td>
      <% traverse_options = {:record => record}
         start_level_0_tag = '<td>'
         end_level_0_tag = '</td>'
       %>
      <% action_links.traverse(controller, traverse_options) do |parent, link, options| -%>
        <% if (options[:node] == :finished_traversing) -%>
          <%= "</ul>#{(options[:level] == 0 ? "</div>#{end_level_0_tag}": '</li>')}".html_safe %>
        <% elsif (options[:node] == :start_traversing) -%>
          <% if options[:level] == 0 %>
             <%= "#{start_level_0_tag}<div class=\"action_group\"> #{content_tag('span', parent.name)}<ul>".html_safe %>
          <% else %>
             <%= "<li #{"class=\"top\"" if options[:first_action]}>#{content_tag('span', parent.name)}<ul>".html_safe %>
          <% end %>
        <% else -%>
          <% if options[:level] == 0 %>
            <%= "#{start_level_0_tag}#{h(render_member_action_link(link, url_options, record, options[:authorized]))}#{end_level_0_tag}".html_safe %>
          <% else %>
            <%= content_tag('li', render_member_action_link(link, url_options, record, options[:authorized]), options[:first_action] ? {:class => 'top'}: {}) %>
          <% end %>
        <% end -%>
      <% end -%>
  </tr>
</table>
</td>

