<%options = {:checked => mark_all,
           :include_mark_all => true}%>
ActiveScaffold.mark_records('<%=active_scaffold_tbody_id%>',<%=options.to_json.html_safe%>);
<%if active_scaffold_config.model.marked.length>0 then %>
  <%if active_scaffold_config.model.marked.length < @page.pager.count then%>
    ActiveScaffold.replace_html('<%=active_scaffold_messages_id%>','<%="#{active_scaffold_config.model.marked.length.to_s} records marked. Press <a href=\"#{url_for(:action=>"mark_all",:mark_target=>"scope")}\">here</a> to select all #{@page.pager.count} records.".html_safe%>');
  <%else%>
    ActiveScaffold.replace_html('<%=active_scaffold_messages_id%>','<%="All #{@page.pager.count} records marked".html_safe%>');
  <%end%>
<%else%>
  ActiveScaffold.replace_html('<%=active_scaffold_messages_id%>','');
<%end%>
